[submodule "src/external/epos4compact50-5can"]
	path = ros2_ws_main/src/drivers/epos4compact50-5can
	url = https://github.com/YamamotoSoya/maxon_epos4compact50-5can_ros2.git
[submodule "src/external/StarROS2"]
	path = ros2_ws_main/src/drivers/StarROS2
	url = https://github.com/YamamotoSoya/StarROS2.git
[submodule "src/external/LIO-SAM"]
	path = ros2_ws_liosam/src/LIO-SAM
	url = https://github.com/YamamotoSoya/LIO-SAM.git
	branch = ros2
[submodule "src/external/realsense-ros"]
	path = ros2_ws_main/src/drivers/realsense-ros
	url = https://github.com/realsenseai/realsense-ros.git
